{
    "printWidth": 180,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "semi": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "overrides": [{
        "files": ["*.spec.ts", "*.steps.ts"],
        "options": {
        "semi": true
        }
    }]
}